<div class="container">
  <h1 style="color: mediumspringgreen">Cleverea</h1>
</div>

<hr />

<app-datos-vehiculo (sendData)="onReceiveData($event)"></app-datos-vehiculo>

<hr />
<app-summary
  *ngIf="showSummary"
  [nombreApellidos]="nombreApellidos"
  [fechaNacimiento]="fechaNacimiento"
  [marcaVehiculo]="marcaVehiculo"
  [asistenciaCarretera]="asistenciaCarretera"
  [responsabilidadCivil]="responsabilidadCivil"
  [vehiculoSustitucion]="vehiculoSustitucion"
  [colisionAnimales]="colisionAnimales"
></app-summary>
