<div>
  <h1 style="color: green; margin-left: 15px">Cleverea</h1>
</div>

<hr class="horizontal-line" />

<div style="position: relative; top: 30px">
  <div style="position: absolute; left: 20px">
    <app-datos-vehiculo></app-datos-vehiculo>
  </div>
  <div style="position: absolute; right: 20px; display: inline">
    <router-outlet></router-outlet>
  </div>
</div>
<div style="display: inline">
  <a
    routerLink="/summary"
    routerLinkActive="button-main-active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="button-main"
    >Siguiente paso
  </a>
</div>

<!-- <ng-template #missingData>
  <p *ngIf="dataReceived">
    Por favor, completa los datos del vehículo y selecciona coberturas
  </p>
</ng-template> -->
