h3 {
    color: rgb(196, 196, 32);
    text-align-last: center;
    margin: 20px;
}

p {
    color: black;
}

.box {
    border: 4px solid grey;
    padding: 4px;
    width: fit-content;
    border-radius: 10px;
}