<div>
  <div class="">
    <div class="fillbox">
      <h2>Datos del vehículo</h2>
      <hr class="horizontal-line" />
      <div>
        <form [formGroup] = "datosForm" (keydown.enter)="onSubmit()" (ngSubmit)="onSubmit()">
          <table style="margin-bottom: 10px">
            <tr>
              <td>Nombre y apellidos:</td>
              <td>
                <input
                  type="text"
                  placeholder="Nombre y apellidos"
                  formControlName="nombre"
                />
              </td>
            </tr>
            <tr>
              <td>Fecha de nacimiento:</td>
              <input
                type="text"
                placeholder="Fecha de nacimiento"
                formControlName="fecha"
              />  
            </tr>
            <tr>
              <td>Marca del vehículo:</td>
              <input
                type="text"
                placeholder="Marca del vehículo"
                formControlName="marca"
              />
            </tr>
          </table>
        </form>
      </div>
      <hr class="horizontal-line" />
    </div>
    <div style="margin-top: 10px"></div>
  </div>
</div>
