<div>
  <div class="">
    <div class="fillbox">
      <h2>Datos del vehículo</h2>
      <hr class="horizontal-line" />
      <div>
        <table style="margin-bottom: 10px">
          <tr>
            <td>Nombre y apellidos:</td>
            <td>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre y apellidos"
                [(ngModel)]="nombre"
              />
            </td>
          </tr>
          <tr>
            <td>Fecha de nacimiento:</td>
            <input
              type="text"
              class="form-control"
              placeholder="Fecha de nacimiento"
              [(ngModel)]="fecha"
            />
          </tr>
          <tr>
            <td>Marca del vehículo:</td>
            <input
              type="text"
              class="form-control"
              placeholder="Marca del vehículo"
              [(ngModel)]="marca"
            />
          </tr>
        </table>
      </div>
      <hr class="horizontal-line" />
      <div>
        <h2>Coberturas</h2>
        <app-configuracion-poliza> </app-configuracion-poliza>
      </div>
    </div>
    <div style="margin-top: 10px"></div>

    <div>
      <button type="submit" (click)="onSend()">Pedir seguro</button>
    </div>
  </div>
</div>
