<div class="container">
  <div class="column" style="margin: 20px">
    <div class="fillbox">
      <h2>Datos del vehículo</h2>
      <hr class="horizontal-line" />
      <div>
        <table style="margin-bottom: 10px">
          <tr>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Nombre y apellidos"
                [(ngModel)]="nombreApellidos"
              />
            </th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Fecha de nacimiento"
                [(ngModel)]="fechaNacimiento"
              />
            </th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Marca del vehículo"
                [(ngModel)]="marcaVehiculo"
              />
            </th>
          </tr>
        </table>
      </div>
      <hr class="horizontal-line" />
      <div>
        <h2>Coberturas</h2>
        <app-configuracion-poliza (sendUpdate)="onUpdateConfig($any($event))">
        </app-configuracion-poliza>
      </div>
    </div>
    <div style="margin-top: 10px"></div>

    <div class="fillbox">
      <button type="submit" (click)="onClick()">Pedir seguro</button>
    </div>
  </div>
</div>
