<div class="container">
  <div class="column" style="margin: 20px">
    <div class="fillbox">
      <p>Datos del vehículo</p>
      <hr style="border-color: mediumspringgreen" />

      <div>
        <table style="margin-bottom: 10px">
          <tr>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Tipo de vehículo"
                [(ngModel)]="tipoVehiculo"
              />
            </th>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Número de bastidor (opcional)"
                [(ngModel)]="numeroBastidor"
              />
            </th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Marca"
                [(ngModel)]="marca"
              />
            </th>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Modelo"
                [(ngModel)]="modelo"
              />
            </th>
          </tr>
          <tr>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="Precio de compra"
                [(ngModel)]="precioCompra"
              />
            </th>
            <th>
              <input
                type="text"
                class="form-control"
                placeholder="¿Cuándo lo compraste?"
                [(ngModel)]="fechaCompra"
              />
            </th>
          </tr>
        </table>
      </div>
      <div>
        <app-configuracion-poliza></app-configuracion-poliza>
      </div>
    </div>
    <div style="margin-top: 10px"></div>
    <div class="fillbox">
      <button class="btn btn-primary" type="submit" (click)="onClick($event)">
        Pedir seguro
      </button>
      <p *ngIf="submitted">Seguro pedido</p>
    </div>
  </div>
</div>
